* {
  margin: 5;
  padding: 5;
  text-align: center;
}

p {
  font-family:fantasy, Georgia, 'Times New Roman', Times, serif;
  font-size:larger;
  font-weight:bold;
  color: rgb(11, 11, 10);
}

.container {
  margin: 5;
  padding: 5;
  color:dimgray
  
}

.box{
margin: 5;
padding: 5;
color:dimgray
}

.cat-container {
  height: 350px; 
  overflow: scroll;
}

.cat-container-all {
  background-color: #c9d9c191;
  padding: 10px;
  border-radius: 12px;
}

.button, .button5 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: fantasy, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 15px;
}

.button5 {
  margin-right: 5px;
}
.button:hover {
  border: none;
  border-radius: 12px;
  background-color: rgba(201, 167, 169, 0.469);
  color: rgb(91, 23, 23);
  padding: 15px 32px;
  text-align: center;
  font-family: fantasy;
  text-decoration:wavy;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor:pointer;
  transition-timing-function: ease;
}

.button5:hover {
  border: none;
  border-radius: 12px;
  background-color: rgba(201, 167, 169, 0.469);
  color: rgb(91, 23, 23);
  padding: 15px 32px;
  text-align: center;
  font-family: fantasy;
  text-decoration:wavy;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor:pointer;
  transition-timing-function: ease;
}
#done {
  margin: 5;
  padding: 5;
  /* color:rgb(8, 100, 59) */
  text-align: center;
  font-family: fantasy;
  border: none;
  border-radius: 12px;
  background-color: rgba(201, 167, 169, 0.469);
  color: rgb(91, 23, 23);
  padding: 15px 32px;
  text-align: center;
  font-family: fantasy;
  text-decoration:wavy;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor:pointer;

}

footer {
  text-align: center;
  padding: 3px;
  background-color: none;
  color:rgb(80, 45, 15);
  position: fixed;
  margin-top: -380px;
  padding: 10px 10px 0px 10px;
  clear: both;
  width: 100%;
  bottom: 0;
}
#root {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;
  padding: 20px 20px 60px;
  max-width: 700px;
  margin: 0 auto;
}

header {
  font-family: fantasy;
  font-size: 50pt;
  color: rgb(80, 45, 15);
  margin-top: 15pt;
  margin-bottom: 20pt;
  padding-left: 3pt;
  padding-right: 3pt;
  text-align: center;
}




